@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap") * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #532884;
  font-family: "François One", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  font-size: 15px;
}

#logo {
  text-align: center;
}

.container {
  padding: 5px;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 28%;
  margin: 15px;
  border-radius: 50%;
  background-color: #f28c11;
}

.pseudo {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
}

.button-start {
  text-align: center;
}

#bouton-start {
  background-color: #05a67a;
  text-shadow: 0px -2px #05a67a;
  border-radius: 80%;
}

input {
  margin-bottom: 8px;
  padding: 8px 14px;
  background-color: #f28c11;
}

/*------------------------CODE DE LEO-PAUL----------------------*/

footer{
  background-color: #f28c11;
  color: white;
  display:flex;
  justify-content: center;
}
.question{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
  color: white;
}
.question img{
  width: 90%;
}
.question p{
  width: 80%;
  margin: 0% 10% 5%;
  text-align: center;
  background-color: #f28c11;
  border: solid black;
  border-width: 1px;
  line-height: 25px;
}
.question .vrai, .faux{
  font-size: ; /* A MODIFIER */
  width: 40%;
  padding: 10%;
  border-radius: 10%;
  text-align: center;
}
.question button{
  border: solid black;
  border-width: 1px;
  color: white;
  font-family: inherit;
  font-family: "Francois One", sans-serif;
}
.vrai{
  background-color: #0aa67a;
}
.faux{
 background-color: #F26444;
}
.question .suivant{
  margin: 5% 40%;
  background-color: #f28c11;
}

/* -----------Kana Ranking Page------------------ */

#score {
  font-family: "Francois One", sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
  color: #f28c11;
  font-weight: bold ;
}

#resultavatar {
  width: 30%;
  height: 30%;
}

ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ol>li {
  font-family: "Francois One", sans-serif;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20%;
  font-size: 2rem;
  color: white;
}
/* #first,#second,#third{
  margin-top: 30px;
} */

ol>li>img {
  width: 50%;
}

.playagain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Francois One", sans-serif;
  color: white;
}
.playagain *{
  margin-bottom: 10px;
}

.playagain>button {
  background-color: orange;
  outline: none;
  font-family: "Francois One", sans-serif;
}

footer {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  font-size: 15px;
}
