@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap") * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #532884;
}

h1 {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  font-size: 15px;
}

#logo {
  text-align: center;
}

.container {
  padding: 5px;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 28%;
  margin: 15px;
  border-radius: 50%;
  background-color: #f28c11;
}

.pseudo {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
}

.button-start {
  text-align: center;
}

#bouton-start {
  background-color: #05a67a;
  text-shadow: 0px -2px #05a67a;
  border-radius: 80%;
}

input {
  margin-bottom: 8px;
  padding: 8px 14px;
  background-color: #f28c11;
}

/* -----------Kana Ranking Page------------------ */

#scoreimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#scoreimg>img {
  width: 40%;
}

.score {
  font-family: "Francois One", sans-serif;
  color: orange;
  text-align: center;
  font-size: 60px;
}

#rankinglist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

ol {
  width: 70vw;
  padding: 1rem;
  background-color: orange;
  border-radius: 40px;
}

li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

span {
  font-family: "Francois One", sans-serif;
  color: orange;
  font-size: 5vh;
  text-align: center;
}

.username {
  font-family: "Francois One", sans-serif;
  color: #532884;
  font-size: 15px;
}

.points {
  font-family: "Francois One", sans-serif;
  color: #05a67a;
  font-size: 15px;
}

ol>li>img {
  width: 15%;
  height: 15%;
}

#playagain {
  font-family: "Francois One", sans-serif;
  text-decoration: none;
  width: 20vw;
  height: 5vh;
  background-color: orange;
}

label {
  font-family: "Francois One", sans-serif;
  color: white;
  margin: 0.5rem;
}

input {
  font-family: "Francois One", sans-serif;
  color: white;

}

#comment {
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Francois One", sans-serif;
  height: 10vh;
  background-color: #f28c11;
  color: white;
  font-size: 10px;
}