@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #532884;
  font-family: "François One", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
  margin: 0;
}

#logo {
  text-align: center;
}

.container {
  padding: 5px;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 28%;
  margin: 15px;
}

.pseudo {
  text-align: center;
  font-family: "Francois One", sans-serif;
  color: white;
}

#pseudoForm {
  margin: 0;
}

.button-start {
  text-align: center;
}

#bouton-start {
  background-color: #05a67a;
  text-shadow: 0px -2px #05a67a;
  border-radius: 50%;
}

input {
  margin-bottom: 8px;
  padding: 8px 14px;
  background-color: #f28c11;
}

.avatar img {
  overflow: visible;
}

/*------------------------CODE DE LEO-PAUL----------------------*/

footer {
  background-color: #f28c11;
  color: white;
  display: flex;
  justify-content: center;
}
.header-question {
  padding-left: 5%;
  width: 100%;
  height: 10%;
  display: grid;
  grid-template: 80% 20% / 30% 60%;
  align-items: center;
}

.header-question > * {
  justify-self: center;
}

.header-question > h3 {
  grid-row: 1;
  font-size: 2rem;
}

.header-question > .pseudo {
  grid-row: 2;
}

.playerAvatar {
  grid-column: 1;
  grid-row: 1;
  padding: 10%;
  width: 80%;
  background-color: #f28c11;
  border-radius: 50%;
  border-width: 1px;
  overflow: visible;
}
.question {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
  color: white;
}
.question > img {
  width: 50%;
}
.question p {
  width: 70%;
  margin: 5% 10%;
  padding: 2% 5%;
  text-align: center;
  background-color: #f28c11;
  border: none;
  line-height: 25px;
  box-shadow: black 1px 1px 5px;
  font-size: 1.2rem;
}
.question .vrai,
.faux {
  font-size: 3rem;
  width: 30%;
  height: 30%;
  text-align: center;
}
.question button {
  border: none;
  color: white;
  font-family: inherit;
  font-family: "Francois One", sans-serif;
  border-radius: 8px;
  box-shadow: black 1px 1px 5px;
}
.vrai {
  background-color: #0aa67a;
}
.faux {
  background-color: #f26444;
}
.question .suivant {
  margin: 5% 0%;
  background-color: #f28c11;
  width: 40%;
  font-size: 1.5rem;
}

/* -----------Kana Ranking Page------------------ */

#scoreimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#scoreimg > img {
  width: 40%;
}

.score {
  font-family: "Francois One", sans-serif;
  color: orange;
  text-align: center;
  font-size: 60px;
}

#rankinglist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

ol {
  width: 70vw;
  padding: 1rem;
  background-color: orange;
  border-radius: 40px;
}

li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

span {
  font-family: "Francois One", sans-serif;
  color: orange;
  font-size: 5vh;
  text-align: center;
}

.username {
  font-family: "Francois One", sans-serif;
  color: #532884;
  font-size: 15px;
}

.points {
  font-family: "Francois One", sans-serif;
  color: #05a67a;
  font-size: 15px;
}
/* #first,#second,#third{
  margin-top: 30px;
} */

ol > li > img {
  width: 15%;
  height: 15%;
}

#playagain {
  font-family: "Francois One", sans-serif;
  text-decoration: none;
  width: 20vw;
  height: 5vh;
  background-color: orange;
}

label {
  font-family: "Francois One", sans-serif;
  color: white;
  margin: 0.5rem;
}
.playagain * {
  margin-bottom: 10px;
}

input {
  font-family: "Francois One", sans-serif;
  color: white;
}

#comment {
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Francois One", sans-serif;
  height: 10vh;
  background-color: #f28c11;
  color: white;
  font-size: 10px;
}
